.upload-section {
}

.display-none {
    display: none;
}

.file-upload-button {
    all: unset;
    text-align: center;
    align-items: middle;
    height: 20%;
    width: 20%;
    border-radius: 8px;
}

.file-upload-button:hover {
    background-color: #edefff;
}
