.page {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin: 16px;
}

.page-section {
    border: 2px solid pink;
    border-radius: 1rem;
    padding: 16px;
    color: var(--text-primary);
    font-family: var(--font-cozy);
    background-color: #ffd3fc44;
    box-sizing: border-box;
    width: 95%;
}

.weight-section {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 16px;
    align-items: center;
}

.weight-chart {
    background-color: #f0d3ffb0;
    border-radius: 10px;
    padding: 16px;
    width: 100%;
    max-width: 550px;
    height: 280px;
    box-sizing: border-box;
    justify-self: center;
}

@media (max-width: 1024px) {
    .weight-section {
        grid-template-columns: 1fr;
        gap: 32px;
    }

    .weight-chart {
        height: 250px;
    }
}
