.drawer-container {
    z-index: 200;
    font-family: var(--font-cozy);
    height: 100%;
    width: min(400px, 100vw);
    border: 1px solid black;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    position: fixed;
    top: 0;
    right: 0;
    background-color: white;
    display: grid;
    grid-template-rows: auto 1fr 80px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.drawer-header-section {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 201;
}

.drawer-content {
    padding: 14px;
}
