.page {
    border: 1px solid pink;
}

.weight-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 2px solid pink;
    border-radius: 1rem;
    padding: 8px;
    height: 400px;
    color: var(--text-primary);
    font-family: var(--font-cozy);
}

.weight-progress-section {
    text-align: center;
}

.weight-progress-image {
    padding-top: 20px;
    height: 200px;
    width: auto;
}

.weight-chart {
    background-color: #f0d3ffb0;
    border-radius: 10px;
    padding: 8px;
    height: 250px;
    width: 500px;
}

.weight-input-section {
    padding: 8px;
    width: 100%;
    justify-items: center;
}

.weight-input-section form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
}

.weight-input-label {
    font-weight: bold;
}

.weight-input {
    border: none;
    border-radius: 8px;
    background-color: #f0d3ffb0;
    padding: 12px;
    width: 8rem;
    height: 2.5rem;
    font-size: larger;
}

.weight-submit-button {
    width: 10rem;
    height: 3rem;
    font-size: larger;
    border-radius: 8px;
}
